obj/
obj/Debug/Assembly-CSharp.dll
Library/Cache/
Library/metadata/
Library/ShaderCache/
Temp/
*.log
Library/EditorInstance.json
Library/ProtocolInstance.json
Library/CurrentMaximizeLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/assetDatabase3
Library/CrashedAssetImports.txt
Library/assetDatabase3
*.dll
*.dll
*.dll
*.mdb
